<h1>Norp Courses</h1>
<p>An application about creating and taking courses by teachers and students.</p>
<small>
  Built by Roy Ntaate using Ruby on Rails.
</small>

<%= link_to courses_path, class: "btn btn-success text-light" do %>
  <i class="fa-solid fa-book"></i>
  Courses
<% end %>