<div class="card">
  <div class="card-header">
    <h2>New Lesson</h2>
    <small>
      <b>Course: </b>
      <%= @course.title %>
    </small>
  </div>

  <div class="card-body">
    <%= render 'form', course: @course, lesson: @lesson %>
  </div>

  <div class="card-footer">
    <%= link_to 'Cancel', course_path(@course), class: "btn btn-sm btn-danger"  %>
  </div>
</div>

